<p id="notice"><%= notice %></p>

<p>
  <strong><%= @style.name %></strong>
</p>

<p>
  <%= @style.description %>
</p>

<p>
  <strong>Beers of this style:</strong>
  <% @style.beers.each do |beer| %>
    <%= link_to beer.to_s, beer %>
  <% end %>
</p>

<%= link_to 'New style', new_style_path, class:'btn btn-primary' if current_user %>
<%= link_to 'Edit', edit_style_path(@style), class:'btn btn-primary' if current_user %>
<%= link_to 'Back', styles_path, class:'btn btn-primary' %>
