<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>
    <i>
      Established in <%= @brewery.year %>
    </i>
  </strong>
</p>

<p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= beer.name %>
  <% end %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @brewery.ratings.empty? %>
      No beer has been rated yet!
  <% else %>
      Has <%= @brewery.ratings.size %>
      <%= "rating".pluralize(@brewery.ratings.size) %>,
      average <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'List of beers', beers_path %> |
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
